nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 20px;
}

nav li a {
  text-decoration: none;
  color: black;
}
nav li a:hover {
  background-color: rgb(25, 0, 255);
  color: rgb(255, 255, 255);
}